@using Entities
@using Business;

<div class="w-100 py-2">
    @*<select class="form-control" @onchange="CategoryChange">
        <option value="">Seleccione una categoría</option>
        @foreach (var item in categorias)
        {
            <option value="@item.CategoryId">@item.Name</option>
        }
    </select>*@
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Nombre Corto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in categoriasFiltradas)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.Name</td>
                <td>@item.ShortName</td>
                <td><a href="Categorias/Modificar/@item.CategoryId">Modificar</a></td>
            </tr>
        }
    </tbody>
</table>

@code{
    List<CategoryEntity> categorias;
    List<CategoryEntity> categoriasFiltradas;
    string tempMessage;

    protected override Task OnInitializedAsync()
    {
        categorias = categoriasFiltradas = BCategory.CategoryList();
        return base.OnInitializedAsync();
    }
}